body {
  font: 10px Arial;
}

.root {
  display: flex;
}

.axis path {
  display: none;
}

.axis line {
  stroke-opacity: 0.3;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend {
  margin-top: 20px;
}

